body
{
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Hiragino Kaku Gothic Pro', 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, 'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯', sans-serif;
}

header
{
   position: relative;
   display: flex;
   align-items: center;
   background-color: #181919;
   color: #FFF;
   z-index: 10;
   width: 100%;
}

.pc-navi
{
   list-style: none;
   display: flex;
}

.pc-navi li
{
   width: 140px;
   text-align: center;
   background-color: #333;
   height: 50px;
   line-height: 50px;
   margin-right: 2px;
}

.pc-navi li a
{
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   padding: 20px;
}

.top-view p
{
   color: green;
}

footer
{
   text-align: center;
}